.form-container {
  font-family: 'Poppins', sans-serif;
  background: repeating-linear-gradient(-45deg, #111, #111 4px, #2a2314 4px, #2a2314 8px);
  padding: 40px 25px;
  border-top: 6px solid #5E5EF1;
  direction: rtl;
  min-height: 450px;
  height: 40vh;
  width: 25vw;
}
.pointer{
  cursor: pointer !important;
}
.form-container .title {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
  width: calc(100% - 129px);
  margin: 0 0 40px;
  display: inline-block;
}
.form-container .create-account {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  width: 125px;
  vertical-align: top;
  display: inline-block;
}
.form-container .create-account a {
  color: #fff;
  transition: all 0.3s ease 0s;
}
.form-container .create-account a:hover {
  color: #5E5EF1;
}
.form-container .form-horizontal .form-group {
  background-color: #5E5EF1;
  font-size: 0;
  padding: 10px;
  margin: 0 0 25px;
  border-radius: 5px;
}
.form-container .form-horizontal .input-icon {
  color: #fff;
  font-size: 25px;
  line-height: 20px;
  margin: 0 10px 0 0;
  display: inline-block;
}
.form-container .form-horizontal .form-control {
  color: #fff;
  background: transparent;
  font-size: 16px;
  width: calc(100% - 32px);
  height: 27px;
  padding: 5px 5px 5px 5px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
  vertical-align: top;
}
.form-container .form-horizontal .form-control:focus {
  box-shadow: none;
}
.form-container .form-horizontal .form-control::placeholder {
  color: #fff;
  font-size: 16px;
}
.form-container .form-horizontal .btn {
  color: #615f5f;
  background: #222;
  font-size: 20px;
  line-height: 20px;
  width: 140px;
  padding: 14px 25px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.form-container .form-horizontal .btn:hover,
.form-container .form-horizontal .btn:focus {
  background: #5E5EF1;
  outline: none;
}
.form-container .form-horizontal .btn i {
  font-size: 16px;
}
.form-container .form-horizontal .forgot {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  width: calc(100% - 145px);
  display: inline-block;
  vertical-align: top;
}
.form-container .form-horizontal .forgot a {
  color: #fff;
  transition: all 0.3s ease 0s;
}
.form-container .form-horizontal .forgot a:hover {
  color: #5E5EF1;
}
